.bubble-container {
    position: relative;
}

.bubble {
    display: none;
    position: absolute;
    /*    top: -135px; */
    top: -10rem;
    left: 50%;
    padding: 30px 40px;
    min-width: 450px;
    border-radius: 10px;
    border: 2px solid #000;
    background: linear-gradient(to bottom, #FEEFB3, #CECECE);
    font-family: sans-serif;
    transform: translateX(-50%);
}

@media (max-width: 1000px) {
    .bubble {
            min-width: auto;
            max-width: auto;
    }
}