/*
    Copyright 2023 Morten Freberg

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>.

*/

body{
    background-color: #696969;
}
a:link {
    text-decoration: none;
    color: #000;
    border-bottom: none;
    text-decoration: none;
    text-transform: uppercase;
    text-indent: 5px;
    font-family: Impact, Charcoal, sans-serif;
}
a:visited {
    text-decoration: none;
    color: #000;
    border-bottom: none;
    text-decoration: none;
    text-transform: uppercase;
    text-indent: 5px;
    font-family: Impact, Charcoal, sans-serif;
}
a:hover {
    color: #000;
    text-decoration: none;
    border-bottom: 1px solid #000;
    border-top: 1px solid #000;
    text-transform: uppercase;
    text-indent: 5px;
    font-family: Impact, Charcoal, sans-serif;
}
.submit {
    text-indent: 5px;
    font-family: Impact, Charcoal, sans-serif;
    background: #cecece;
    background-image: -webkit-linear-gradient(top, #cecece, #696969);
    background-image: -moz-linear-gradient(top, #cecece, #696969);
    background-image: -ms-linear-gradient(top, #cecece, #696969);
    background-image: -o-linear-gradient(top, #cecece, #696969);
    background-image: linear-gradient(to bottom, #cecece, #696969);
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    color: #000;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    height: 50px;
}

.submit:hover {
    text-indent: 5px;
    font-family: Impact, Charcoal, sans-serif;
    background: #696969;
    background-image: -webkit-linear-gradient(top, #696969, #CECECE);
    background-image: -moz-linear-gradient(top, #696969, #CECECE);
    background-image: -ms-linear-gradient(top, #696969, #CECECE);
    background-image: -o-linear-gradient(top, #696969, #CECECE);
    background-image: linear-gradient(to bottom, #696969, #CECECE);
    text-decoration: none;
    color: #000;
    height: 50px;
}
img{
    border: 0;
}

hr {
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
    background-image: -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
    background-image: -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
    background-image: -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
}
input
{
    font-size: 16px;
    width: 200px;
    height: 25px;
    border: solid 1px #333333;
    padding: 4px;
}
#status
{
    font-size: 11px;
    margin-left: 10px;
    font-weight: bold;
}
#statusemail
{
    font-size: 11px;
    margin-left: 10px;
    font-weight: bold;
}
#statuspw
{
    font-size: 11px;
    margin-left: 10px;
    font-weight: bold;
}
.green
{
    background-color: #008000;
}
.red
{
    background-color: #FF0000;
}
.yellow {
    background-color: #FFFF00;
}
.white {
    background-color: #FFF;
}
p.heading {
    text-transform: uppercase;
    font-family: Impact, Charcoal, sans-serif;
    text-indent: 5px;
}
p.seat_symbols {
    font-weight: bold;
}
.main_wrapper {
    text-align: center;
    height: 100%;
    min-height: 100%;
    width: 100%;
    position: relative;
}
#wrapper {
    width: 1000px;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;
    position: relative;
    text-align: center;
}
.seatmap {
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 15px;
    background-color: #CECECE;
    margin: 0 auto;
    padding: 5px;
    text-align: center;
    width: auto;
}
.seat_registered {
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 15px;
    background-color: #CECECE;
    margin: 0 auto;
    padding: 5px;
    text-align: center;
    width: auto;
}
.menu {
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 15px;
    background-color: #CECECE;
    margin: 0 auto;
    padding: 5px;
    text-align: center;
    width: auto;
}
.regerror {
    font-size: 20px;
    font-family: Impact, Charcoal, sans-serif;
    text-indent: 5px;
    background-color: #CECECE;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 15px;
    color: #FF0000;
    width: 600px;
    margin: 0 auto;
}
.msg {
    font-size: 20px;
    font-family: Impact, Charcoal, sans-serif;
    text-indent: 5px;
    background-color: #CECECE;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 15px;
    color: #000;
    width: 600px;
    margin: 0 auto;
}
.srs-container {
    width: 600px;
    margin: 0 auto;
}

.srs-header {
    font-size: 20px;
    text-transform: uppercase;
    font-family: Impact, Charcoal, sans-serif;
    text-indent: 5px;
    background-color: #CECECE;
    width: 100%;
    float: left;
    -webkit-border-top-left-radius: 15px;
    -webkit-border-top-right-radius: 15px;
    -moz-border-radius-topleft: 15px;
    -moz-border-radius-topright: 15px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.srs-content {
    width: 100%;
    background-color: #CECECE;
    float: left;
    line-height: 1.5;
    padding-bottom: 5px;
    -webkit-border-bottom-left-radius: 15px;
    -moz-border-radius-bottomleft: 15px;
    border-bottom-left-radius: 15px;
}

.srs-tb {
    display:inline-block;
    width: 80%;
}

.srs-lb {
    display: inline-block;
    width: 100px;
    font-family: Arial, Helvetica, sans-serif;
    text-indent: 5px;
    font-weight: bold;
}

.srs-footer {
    width: 100%;
    display: inline-block;
    height: 40px;
}

.srs-button-container {
    float: right;
    background-color: #CECECE;
    height: 60px;
    padding-right: 20px;
    -webkit-border-bottom-right-radius: 15px;
    -moz-border-radius-bottomright: 15px;
    border-bottom-right-radius: 15px;
}

.srs-slope {
    width: 0;
    height: 0;
    border-top: 60px solid #CECECE;
    border-left: 60px solid transparent;
    float: right;
}
